.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  color: white;
}
.bubble {
  display: flex;
  justify-content: space-between;
}
.bubble ul h2 {
  border-right: solid 1px white;
  margin-right: 18px;
  padding-right: 2px;
  font-weight: 350;
  text-align: right;
}