.photo-bubble {
  height: 150px;
  width: 40%;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  background-color: rgba(255, 255, 255, 0.288);
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 3px 3px 3px #00000044;
}
.photo-box {
  
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
}